.save_button{
    -fx-background-color: #0067FF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font: 14px "Arial";
    -fx-text-fill: white,bold;
}
.save_button:hover{
    -fx-shadow-color: #0A2B9F;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.update_button{
    -fx-background-color:  #ffa600;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font: 14px "Arial";
    -fx-text-fill: white,bold;
}
.update_button:hover{
    -fx-shadow-color: #0A2B9F;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.delete_button{
    -fx-background-color: #FF0000;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font: 14px "Arial";
    -fx-text-fill: white,bold;
}
.delete_button:hover{
    -fx-shadow-color: #0A2B9F;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.clear_button{
    -fx-background-color: #626262;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font: 14px "Arial";
    -fx-text-fill: white,bold;
}
.clear_button:hover{
    -fx-shadow-color: #0A2B9F;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.add_button{
    -fx-background-color: #0067FF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font: 14px "Arial";
    -fx-text-fill: white,bold;
}
.add_button:hover{
    -fx-shadow-color: #0A2B9F;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.time_textfield{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font: 25px "ATROX";
    -fx-font-weight: 800;
    -fx-text-fill: Black,Bold;
}
.date_textfield{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font: 15px "ATROX";
    -fx-font-weight: 800;
    -fx-text-fill: Black,Bold;
}
.function{
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}
.function:hover{
    -fx-background-color: Transparent;
    -fx-border-color: Transparent;
    -fx-shadow-color: #FDE2E0FF;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
/* styles.css */

.next-button {
    -fx-background-color: #3f6ade; /* Green background color */
    -fx-text-fill: white;         /* White text color */
    -fx-font-size: 14px;          /* Font size */
    -fx-padding: 10px 20px;        /* Padding */
    -fx-border-radius: 2px;       /* Border radius */
    -fx-cursor: hand;             /* Cursor on hover */
}

.next-button:hover {
    -fx-background-color:#305cd2; /* Darker green on hover */
}
/* styles.css */

.placeOrder {
    -fx-background-color: #4CAF50; /* Green background color */
    -fx-text-fill: white;         /* White text color */
    -fx-font: 14px "Arial Black";
    -fx-padding: 10px 20px;       /* Padding */
    -fx-border-radius: 5px;       /* Border radius */
    -fx-cursor: hand;             /* Cursor on hover */
    letter-spacing: 10px;          /* Add letter spacing */
}

.placeOrder:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}

.AddCart {
    -fx-background-color: #f8a200; /* Green background color */
    -fx-text-fill: white;         /* White text color */
    -fx-font: 14px "Arial Black";
    -fx-padding: 10px 20px;       /* Padding */
    -fx-border-radius: 5px;       /* Border radius */
    -fx-cursor: hand;             /* Cursor on hover */
    letter-spacing: 10px;          /* Add letter spacing */
}

.AddCart:hover {
    -fx-background-color: #ea9303; /* Darker green on hover */
}