.dashboard_side_pane{
    -fx-background-color:#3877EF ;
    -fx-fill: #3877EF;
    -fx-border-radius:100;
    -fx-background-radius: 100;
}
.searchbar{
    -fx-font-family: Inter;
    -fx-font-size: 16;
    -fx-font-weight: 500;
    -fx-background-color: #ffffff;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: black;
}
.searchbar:hover{
    -fx-background-color: #ff0000;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #3877EF;
}