.dashboard_side_pane{
    -fx-background-color:  rgba(224,233,244,1) ;
    -fx-fill:   rgba(224,233,244,1);

    -fx-effect: dropshadow(gaussian, rgb(158, 166, 176), 15, 0, 0, 0);
}
.OverView _pane{
    -fx-background-color: #A2ABB7;
    -fx-fill: #A2ABB7;
    -fx-border-radius:2500;
    -fx-background-radius: 2500;
}
.anchor_pane{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
   -fx-background-color: white;
}
.payment_pane{
    -fx-background-color: #ffffff;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #ffffff;
    }
.payment_pane:hover{
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.searchbar{
    -fx-font-family: Inter;
    -fx-font-size: 14;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color:non;
}
.hboxSearchbar{
    -fx-font-family: Inter;
    -fx-font-size: 14;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color:non;
}
.hboxSearchbar:hover{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #3877EF;
}
.dashboard_pane{
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-background: rgb(216,210,252);
    -fx-background-color: linear-gradient( to right,rgba(216,210,252,1) 0%, rgba(253,226,224,1) 45%, rgba(224,233,244,1) 100%);
}
.channeling_center{
    -fx-font-family: Arial;
    -fx-font-size: 30;
    -fx-font-color: #333333;
}
.welcome_back{
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-font-color: #828181;
}

.promtText-field{
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-font-color: #828181;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.userName{
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-font-color: #828181;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.login_button{
    -fx-font-family: Arial;
    -fx-font-size: 20;
    -fx-font-color: #ffffff;
    -fx-background-color: #0067FF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.background_pane{
    -fx-background-color: #a8b2c0;
    -fx-fill: #a8b2c0;
    -fx-border-radius:10;
    -fx-background-radius:10;
}
.inter_pane{
    -fx-background-color: #c5bdef;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.tab_pane{
    -fx-background-color:white;

    -fx-background-radius: 1 0;
    -fx-border-radius: 10;
    -fx-fill: white;
}
/* Set the transparency of an element */
.transparent-element {
    opacity: 80; /* 0 is fully transparent, 1 is fully opaque */
}

.tranparent_pane{
    -fx-background-color: rgba(0,0,0,0);
}
.white_background{
    -fx-background-color: white;
}
.button{
    -fx-background-radius: 1000;
    -fx-border-radius: 1000;
}
.hbox_pane{
    -fx-background-color: #ffffff;

}
.hbox_pane:hover{

    -fx-background-color: #DEDEDE;
}
.button_pane{
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}
.appoinment{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #1138F7;
    -fx-font: 13px "Arial";
    -fx-text-fill: white,bold;
}
.appoinment:hover{
    -fx-shadow-color: #0A2B9F;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);

}
.button_pane:hover{
    -fx-background-color: #E0E9F4FF;
    -fx-border-color: #E0E9F4FF;
    -fx-font: 14px "Arial";
    -fx-shadow-color: #DEDEDE;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.text:hover{
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
